
.vanilla__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.vanilla__menu__logo{
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.vanilla__menu__link {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 20px;
    margin-top: 20px;
    max-width: 130px;
    width: 100%;
}

.vanilla__menu__link:hover {
    background-color: #ccc;
}
