
  
  div.quickflow__tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  

label.quickflow__sidebar-label {
  font-weight: bold;
  display: block;
}

p.quickflow__sidebar-p {
  font-style: italic;
  margin: 0px;
  font-size: 12px;
  padding-left: 20px;
}

span.quickflow__sidebar-required {
  color: red;
}



div.quickflow__sidepanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 20px;
  margin-left: 300px;
  margin-right: auto;
  overflow: auto;
}



div.quickflow__placeholder-field input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

div.quickflow__placeholder-field input {
  width: 90%;
  height: 20px;
}

div.quickflow__placeholder-field select {
  width: 100%;
  height: 30px;
}

div.quickflow__placeholder-field label {
  display: block;
  margin: 5px;
}

div.quickflow__placeholder-field input[type="checkbox"] {
  margin-left: -106px;
}

div.quickflow__preview-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
  max-width: 82%;
}

div.vanilla__quickflow__preview {
  width: 80%;
  height: 500px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  overflow: auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-left: auto;
  margin-right: auto;
}

.quickflow__sidebar-link {
  color: #666;
  border: 1px solid #666;
  padding: 2px;
  text-decoration: none;
}
