span.vanilla__placeholder {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    color: #999;
}
