span.vanilla__placeholder {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    color: #999;
    
}

span.vanilla__placeholder--active {
    background-color: #ccc;
    color: #666;
}

.vanilla__placeholder-container{
    position: relative;
}
.vanilla__placeholder-container:hover .vanilla__placeholder-tooltip{
    opacity:1; 
    z-index:1;
    transform: translateY(-80%);
    transition: 300ms 100ms ease;
    display: inline-block;
}
.vanilla__placeholder-container:hover .vanilla__placeholder-tooltip.right,
.vanilla__placeholder-container:hover .vanilla__placeholder-tooltip.left{
    transform: translateX(var(--placeholder-width));
}

span.vanilla__placeholder-tooltip{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    padding: 5px 10px;
    top: -100%;
    left: 10%;
    color: #fff;
    font-weight: 500;
    text-align: center;
    opacity:0;
    z-index: -1;
    border: none;
}
span.vanilla__placeholder-tooltip:after {
    content:"";
    position: absolute;
    bottom: -10px;
    left: 30%;
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;  
}

span.vanilla__placeholder-tooltip.right,
span.vanilla__placeholder-tooltip.left{
    top:-10px;
    white-space: nowrap;
    width: min-content;
}

span.vanilla__placeholder-tooltip.right:after,
span.vanilla__placeholder-tooltip.left:after{
    bottom: 0;
    top:-8px;
    transform:scale(0.35);
    border-style: solid;
}
span.vanilla__placeholder-tooltip.right:after{
    left: -23px;
    border-width: 25px 36px 25px 0;
    border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent;  
}
span.vanilla__placeholder-tooltip.left:after{
    right: -140%;
    border-width: 25px 0 25px 36px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.9);  
}


