body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

div.wrapper {
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 250px;
  width: 70%;
}
