
.vanilla__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 300px;
    margin: 10px;
    box-shadow: 1px 1px 1px 0.5px #ccc;
    background-color: rgba(255, 255, 255, 0.8);
}

.vanilla__card__summary {
    font-size: 15px;
    max-width: 100%;
    margin-top: 50px;
    height: 100%;
    text-align: left;
}

.vanilla__card__summary > p {
    margin: 3px;
    height: 100%;
}

.vanilla__card__image {
    margin-top: 30px;
}

.vanilla__card__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
}


.vanilla__card__upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.vanilla__card:hover {
    box-shadow: 1px 1px 2px 3px #ccc;
    cursor: pointer;
}
